<?xml version='1.0' encoding='utf-8'?>
<widget id="dk.bobbytechonlogies.XivelyApp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Bobby</name>
    <description>
        A Bobby Tech hydrophonic system controller and monitor.
    </description>
    <author email="contact@bobbytechonlogies.dk" href="http://bobbytechnologies.dk/">
        Bobby tech core app Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
