<div id="forecast" class="weather-box">
    <h4 class="title">Forecast</h4>
    <ion-scroll direction="x" id="forecast-scroll">
        <div class="hourly-hour" ng-repeat="hour in hourly">
            <div class="time" ng-bind="hour.FCTTIME.hour"></div>
            <!--div class="time" ng-bind="hour.FCTTIME.hour | hourFormat"></div-->
            <weather-icon icon="hour.icon"></weather-icon>
            <div class="temp">{{hour.temp | tempEnglish}}&deg;</div>
        </div>
    </ion-scroll>
    <div class="row" style="margin-top: -5px;" ng-repeat="day in forecast.forecastday">
        <div class="col"><span ng-bind="day.date.weekday"></span></div>
        <div class="col">
            <weather-icon icon="day.icon"></weather-icon>
        </div>
        <div class="col">
            <span class="temp-high">{{day.high | temp}}&deg;</span>
            <span class="temp-low">{{day.low | temp}}&deg;</span>
        </div>
    </div>
    <div class="clearfix">
        <a ng-href="http://www.wunderground.com/?apiref=126dd7440c68b6ca" target="_blank">
            <div class="wunderground-logo"></div>
        </a>
    </div>
</div>
